.displaynone {
  display: none;
}
.relative {
  position: relative;
}
.main_header .header_cont {
  height: 80px;
  background: #fff;
  width: 1170px;
  margin: 0 auto;
  z-index: 11;
  position: relative;
  box-sizing: border-box;
}
.main_header .header_cont .logo {
  width: 150px;
  height: 22px;
  position: absolute;
  left: 50%;
  margin-left: -75px;
  top: 29px;
}
.main_header .header_cont .logo img {
  width: 100%;
}
.main_header .header_cont .o_g .o_u.o_df_10-12 .o_lg-left .item,
.main_header .header_cont .o_g .o_u.o_df_10-12 .o_lg-right .item {
  display: inline-block;
  vertical-align: top;
}
.main_header .header_cont .o_g .o_u.o_df_10-12 .o_lg-left .item .toggle,
.main_header .header_cont .o_g .o_u.o_df_10-12 .o_lg-right .item .toggle {
  color: #333;
  display: block;
  line-height: 80px;
  font-size: 14px;
  padding: 0 30px;
  z-index: 2;
  position: relative;
}
.main_header .header_cont .o_g .o_u.o_df_10-12 .o_lg-left .item .toggle .iconfont,
.main_header .header_cont .o_g .o_u.o_df_10-12 .o_lg-right .item .toggle .iconfont {
  text-align: center;
  position: absolute;
  width: 15px;
  vertical-align: top;
  height: 7px;
  margin-left: -7px;
  font-style: normal;
  bottom: 0;
  left: 50%;
  display: block;
  font-size: 16px;
  overflow: hidden;
  line-height: 10px;
  color: #fff;
  opacity: 0;
}
.main_header .header_cont .o_g .o_u.o_df_2-12 {
  box-sizing: border-box;
  text-align: right;
  height: 100%;
}
.main_header .header_cont .o_g .o_u.o_df_2-12 .main_select {
  width: 60px;
  height: 60px;
  margin: 10px 0 0;
  display: inline-block;
}
.main_header .header_cont .o_g .o_u.o_df_2-12 .main_select .toggle {
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 1;
  position: relative;
}
.main_header .header_cont .o_g .o_u.o_df_2-12 .main_select .toggle .iconfont {
  vertical-align: top;
  color: #8a6f3a;
  font-size: 25px;
  position: absolute;
  top: 1px;
  left: 17px;
  line-height: 58px;
  font-style: normal;
}
.main_header .header_cont .o_g .o_u.o_df_2-12 .main_loginbox {
  margin: 10px 0 0;
  position: relative;
  display: inline-block;
  vertical-align: top;
  z-index: 0;
  line-height: 60px;
  color: #a88747;
  width: 100px;
  height: 60px;
  white-space: nowrap;
  font-size: 14px;
}
.main_header .header_cont .o_g .o_u.o_df_2-12 .main_loginbox a {
  display: inline-block;
  font-size: 14px;
  color: #a88747;
}
.main_header .header_cont .o_g .o_u.o_df_2-12 .main_loginbox a .iconfont {
  color: #8a6f3a;
  font-size: 25px;
  margin-right: 10px;
  font-style: normal;
  display: inline-block;
}
.main_footer {
  background: #f8f8f8;
  padding-top: 60px;
}
.main_footer .cui_mainbox {
  width: 1170px;
  margin: 0 auto;
  padding: 0;
}
.main_footer .cui_mainbox .menu {
  margin-bottom: 45px;
}
.main_footer .cui_mainbox .menu li {
  padding: 0 15px;
  vertical-align: top;
  box-sizing: border-box;
}
.main_footer .cui_mainbox .menu li .linklist {
  padding-top: 15px;
}
.main_footer .cui_mainbox .menu li .linklist span {
  display: block;
}
.main_footer .cui_mainbox .menu li .linklist span a {
  line-height: 28px;
  font-size: 14px;
  color: #999;
  display: inline-block;
}
.main_footer .cui_mainbox .menu li h1 {
  font-size: 14px;
  padding: 0;
  line-height: 1.1em;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}
.main_footer .activity {
  text-align: center;
  margin-bottom: 30px;
}
.main_footer .activity img {
  width: 100%;
}
.main_footer .activity .tit {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 1.1em;
  color: #333;
  display: block;
}
.main_footer .activity p {
  color: #999;
  font-size: 12px;
  line-height: 1.1em;
  display: block;
  height: 1.1em;
  overflow: hidden;
}
.main_footer .bottom {
  display: block;
  border-top: 1px solid #eee;
  padding: 20px 0;
  position: relative;
}
.main_footer .bottom .aboutbox {
  display: inline-block;
  font-size: 0;
}
.main_footer .bottom .aboutbox a {
  line-height: 40px;
  font-size: 12px;
  display: inline-block;
  margin-right: 20px;
  color: #666;
}
.main_footer .bottom .aboutbox .copyright {
  display: inline-block;
  color: #999;
  line-height: 40px;
  font-size: 12px;
  margin-left: 180px;
}
.main_footer .bottom .follow {
  line-height: 40px;
  color: #666;
  position: absolute;
  top: 20px;
  right: 0;
  font-size: 0;
}
.main_footer .bottom .follow span {
  display: inline-block;
  margin-right: 10px;
  font-size: 12px;
  color: #666;
}
.main_footer .bottom .follow a {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 38px;
  margin-left: 10px;
  font-size: 27px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  color: #999;
}
.main_footer .bottom .follow a i {
  font-size: 26px;
}
.c_indextop {
  max-width: 1560px;
  margin: 0 auto;
  box-sizing: content-box;
}
.c_indextop .banner {
  box-sizing: content-box;
  padding: 0 30px;
  /*需要分页自定义css*/
}
.c_indextop .banner .banner_detail {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  bottom: 30px;
  padding: 0 5%;
  left: 0;
}
.c_indextop .banner .banner_detail p {
  font-size: 18px;
  color: white;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
.c_indextop .banner .banner_detail h2 {
  font-size: 32px;
  margin-bottom: 10px;
  color: white;
  font-weight: bold;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
.c_indextop .banner .banner_detail.left {
  text-align: left;
}
.c_indextop .banner .banner_detail.right {
  text-align: right;
}
.c_indextop .banner img {
  width: 100%;
}
.c_indextop .banner .pager {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}
.c_indextop .banner .pager li {
  cursor: pointer;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 8px;
  background: #999;
  margin: 0 5px;
  opacity: 1;
  border: 3px solid #d6d6d6;
}
.c_indextop .banner .pager li.cur {
  background: black;
  border-color: white;
}
.c_indextop .c_porEnter {
  padding: 45px 15px 15px;
  box-sizing: border-box;
  font-size: 0;
}
.c_indextop .c_porEnter ul li {
  padding: 0 15px;
  position: relative;
  overflow: hidden;
}
.c_indextop .c_porEnter img {
  width: 100%;
}
.c_indextop .c_porEnter .text {
  padding: 20px 0 30px;
  text-align: center;
}
.c_indextop .c_porEnter .text a {
  color: #333;
  font-size: 14px;
  line-height: 1.1em;
  margin-bottom: 10px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.c_indextop .c_porEnter .text p {
  color: #999;
  font-size: 12px;
  line-height: 1.1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.line {
  height: 1px;
  background: #ECECEC;
  width: 2000px;
  position: relative;
  left: 50%;
  margin-left: -1000px;
}
.c_proGroup {
  padding: 60px 15px 0;
}
.c_proGroup ul li {
  padding: 0 15px 30px;
  font-size: 0;
}
.c_proGroup img {
  width: 100%;
}
.c_proGroup .text {
  padding-top: 20px;
}
.c_proGroup .text a {
  font-size: 18px;
  color: #333;
  line-height: 1.1em;
  margin-bottom: 10px;
  display: block;
}
.c_proGroup .text p {
  color: #999;
  font-size: 12px;
  line-height: 1.75em;
  margin-bottom: 30px;
  max-height: 3.5em;
  overflow: hidden;
}
.cui_mainbox {
  padding: 0;
  width: 1170px;
  margin: 0 auto;
}
.cui_mainbox .c_proshowbox {
  padding-top: 60px;
}
.cui_mainbox .c_proshowbox ul li a {
  display: block;
  overflow: hidden;
  padding: 0 15px 60px;
}
.cui_mainbox .c_proshowbox ul li a img {
  height: 100%;
}
.cui_mainbox .c_proshowbox ul li a i {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -24px;
  margin-left: -24px;
  display: block;
  width: 48px;
  height: 48px;
  background: url(ia_100000115.png) no-repeat -38px -265px;
}
.cui_mainbox .binfenC {
  margin-bottom: 80px;
  margin-top: 40px;
  /*需要分页自定义css*/
}
.cui_mainbox .binfenC h1 {
  font-size: 24px;
  line-height: 60px;
  color: #333;
  padding: 0 15px;
}
.cui_mainbox .binfenC h1 a {
  font-size: 14px;
  color: #666;
  line-height: 14px;
  vertical-align: middle;
  display: inline-block;
  margin-top: 22px;
}
.cui_mainbox .binfenC h1 a span {
  font-size: 16px;
}
.cui_mainbox .binfenC .showbox {
  overflow: hidden;
  position: relative;
  width: 1052px;
  margin: 0 0;
  margin-top: 15px;
}
.cui_mainbox .binfenC .showbox ul li div {
  padding: 0 15px 15px;
  white-space: normal;
  box-sizing: inherit;
  display: inline-block;
  position: relative;
}
.cui_mainbox .binfenC .showbox ul li div .tit {
  font-size: 14px;
  color: #333;
  line-height: 1.2em;
  margin: 20px 0;
  display: block;
  height: 1.1em;
  overflow: hidden;
}
.cui_mainbox .binfenC .showbox a.imgbox {
  width: 100%;
  height: 100%;
  position: relative;
  display: inline-block;
}
.cui_mainbox .binfenC .showbox a.imgbox img {
  width: 100%;
}
.cui_mainbox .binfenC .showbox a.imgbox span.artflag {
  font-size: 12px;
  width: 60px;
  height: 25px;
  color: #fff;
  line-height: 25px;
  text-indent: 16px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  background: url(ia_100000102.png) no-repeat;
}
.cui_mainbox .binfenC .showbox a.imgbox span.artflag.end {
  background-position: -60px 0px;
}
.cui_mainbox .binfenC .showbox a.imgbox span.artflag.start {
  background-position: 0px 0px;
}
.cui_mainbox .binfenC .showbox .tool {
  border-top: 1px solid #f2f2f2;
  padding: 10px 0 30px;
  line-height: 24px;
  color: #666;
  font-size: 0;
}
.cui_mainbox .binfenC .showbox .tool .brand {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  color: white;
  display: inline-block;
  font-weight: normal;
  text-align: center;
  line-height: 24px;
  background: #000;
  font-size: 12px;
}
.cui_mainbox .binfenC .showbox .tool .name {
  font-size: 12px;
}
.cui_mainbox .binfenC .paper_box {
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 1;
  display: block;
  bottom: -15px;
  background: #ececec;
  height: 5px;
  margin-bottom: 15px;
  border-left: 15px solid white;
  box-sizing: border-box;
  height: 1px;
  border-right: 15px solid white;
}
.cui_mainbox .binfenC .pager {
  background: white;
  display: inline-block;
  padding: 0 30px;
  text-align: center;
  font-size: 0;
  top: -5px;
  position: relative;
}
.cui_mainbox .binfenC .pager li {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 8px;
  background: #b2b2b2;
  margin: 0 3px;
  opacity: 1;
  cursor: pointer;
}
.cui_mainbox .binfenC .pager li.cur {
  background: black;
}
