// 头部的样式
.main_header {
    .header_cont {
        height: 80px;
        background: #fff;
        width: 1170px;
        margin: 0 auto;
        z-index: 11;
        position: relative;
        box-sizing: border-box;
    }
    .logo {
        width: 150px;
        height: 22px;
        position: absolute;
        left: 50%;
        margin-left: -75px;
        top: 29px;
    }
}
.o_g{
    display: block;
    background: rgba(0,0,0,0);
    width: 100%;
    box-sizing: border-box;
}
.o_font0{
    font-size: 0!important;
}